.footer{
    width: 1280px;
    height: 120px;
    background: #2C343E;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.footer__list{
    display: flex;
    margin-left: 103px;
}
.footer__link{
    font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;

}
.footer__item + .footer__item{
    margin-left: 33px;
}
.footer__list1{
    display: flex;
    margin-left: 369px;
}